In [1]:
import pandas as pd

In [2]:
price = pd.read_csv('import.csv')
jeju = pd.read_csv('jeju1719.csv')
gwangju = pd.read_csv('gwangju1719.csv')
choonchun = pd.read_csv('choonchun1719.csv')

In [3]:
price['target_value'] = price['target_value'].apply(lambda x: x.replace(',', ''))
price['30avg'] = price['30avg'].apply(lambda x: x.replace(',', ''))

In [4]:
price['item_id'] = price['item_id'].astype('str')
price['timestamp'] = price['timestamp'].astype(str)
price['target_value'] = price['target_value'].astype(float)
price['30avg'] = price['30avg'].astype(float)

In [16]:
price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3665 entries, 0 to 3664
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   item_id       3665 non-null   object
 1   timestamp     3665 non-null   object
 2   target_value  3665 non-null   float64
 3   30avg         3665 non-null   float64
 4   gas_price     3661 non-null   float64
dtypes: float64(3), object(2)
memory usage: 143.3+ KB

In [5]:
price.dtypes

item_id          object
timestamp        object
target_value    float64
30avg           float64
gas_price       float64
dtype: object

In [6]:
is_carrot = price['item_id'] == 'carrot'
carrot = price[is_carrot]
is_cucumber = price['item_id'] == 'cucumber'
cucumber = price[is_cucumber]
is_onion = price['item_id'] == 'onion'
onion = price[is_onion]
is_radish = price['item_id'] == 'radish'
radish = price[is_radish]
is_springonion = price['item_id'] == 'springonion'
springonion = price[is_springonion]

In [7]:
jeju = jeju.fillna(0)
choonchun = choonchun.fillna(0)
gwangju = gwangju.fillna(0)

In [8]:
carrot1 = carrot.merge(jeju)
cucumber1 = cucumber.merge(choonchun)
onion1 = onion.merge(gwangju)
radish1 = radish.merge(choonchun)
springonion1 = springonion.merge(gwangju)

In [9]:
train1 = pd.concat([carrot1, cucumber1])
train1

,item_id,timestamp,target_value,30avg,gas_price,lowtemp,hightemp,precipation,highwind,avgwind,humidity,totalsun,abvgrnd
0,carrot,2017-01-02,27000.0,41933.0,845.49,9.8,13.8,0.9,3.3,1.6,79.6,0.1,10.6
1,carrot,2017-01-03,25000.0,41933.0,845.49,6.9,11.7,0.0,4.0,2.2,66.8,8.7,8.4
2,carrot,2017-01-04,25000.0,41667.0,845.49,6.0,12.2,0.0,3.1,1.9,64.5,7.9,7.6
3,carrot,2017-01-05,25000.0,41200.0,845.49,8.4,13.5,9.8,5.9,2.4,78.5,0.0,9.7
4,carrot,2017-01-06,25000.0,40667.0,845.49,10.4,13.6,2.0,5.9,3.1,70.9,4.4,10.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,cucumber,2018-12-27,60000.0,71333.0,967.57,-5.4,0.6,0.0,4.9,3.1,45.3,8.7,0.0
727,cucumber,2018-12-28,50000.0,72956.0,967.57,-16.4,-5.4,0.0,2.4,1.2,51.5,7.9,-7.6
728,cucumber,2018-12-28,50000.0,72956.0,967.57,-7.0,-1.3,0.0,4.5,2.1,59.3,5.7,-2.5
729,cucumber,2018-12-29,50000.0,73111.0,967.57,-16.4,-2.2,0.0,3.4,1.4,48.5,7.9,-7.2
730,cucumber,2018-12-29,50000.0,73111.0,967.57,-7.0,0.8,0.0,5.8,2.3,57.6,9.0,-2.6

In [10]:
train2 = pd.concat([train1, onion1])
train3 = pd.concat([train2, radish1])
train = pd.concat([train3, springonion1])

In [11]:
fin = pd.DataFrame(train)

In [15]:
fin.dtypes

item_id          object
timestamp        object
target_value    float64
30avg           float64
gas_price       float64
lowtemp         float64
hightemp        float64
precipation     float64
highwind        float64
avgwind         float64
humidity        float64
totalsun        float64
abvgrnd         float64
dtype: object

In [13]:
train.to_csv('C:/Users/HyeJee Yang/Desktop/school/train.csv')

In [14]:
train.dtypes

item_id          object
timestamp        object
target_value    float64
30avg           float64
gas_price       float64
lowtemp         float64
hightemp        float64
precipation     float64
highwind        float64
avgwind         float64
humidity        float64
totalsun        float64
abvgrnd         float64
dtype: object